.course-card {
  background: #fff;
  border-radius: 12px;
  box-shadow: var(--box-shadow-1);
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.course-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.course-card__header--1 {
  line-height: 0.4;
}
.course-card__header .course-card__attendance {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.8rem;
}
.course-card__header .course-card__attendance.green {
  background-color: white;
  border: 3.5px dashed var(--color-green-light);
  color: var(--color-green-light);
}
.course-card__header .course-card__attendance.orange {
  background-color: white;
  border: 3.5px dashed orange;
  color: orange;
}
.course-card__title {
  font-size: 0.9rem;
  margin: 0.8rem 0;
  color: var(--color-black-light-1);
}
.course-card__code {
  font-size: 0.9rem;
  margin: 0;
  color: var(--color-grey-1);
  font-weight: 100;
}
.course-card__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.course-card__details .course-card__detail {
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  margin-bottom: 0.8rem;
}
.course-card__details .course-card__detail svg {
  color: #888;
}
.course-card__details .course-card__detail--next {
  display: flex;
  margin-bottom: 0.3rem;
  gap: 8px;
  color: var(--color-black-light-1) !important;
}
.course-card .span-color {
  color: var(--color-grey-1);
}

.actions,
.no-action {
  display: flex;
  gap: 0.75rem;
}

.btn {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
}
.btn svg {
  font-size: 1.1rem;
}
.btn:hover {
  opacity: 0.7;
}
.btn-primary {
  background-color: var(--color-primary-1);
  color: #ffffff;
}
.btn-border {
  background-color: transparent;
  border: 1.5px solid var(--color-primary-1);
  color: var(--color-primary-1);
  justify-content: center;
  display: flex;
}
.btn-noScan {
  background-color: white;
  color: var(--color-grey-2);
  border: 0.7px solid var(--color-grey-2);
}

.dashboard {
  padding: 1rem;
}
.dashboard__title {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 2rem;
}
.dashboard__courses-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.stats-overview {
  display: flex;
  gap: 2rem;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .stats-overview {
    flex-direction: column;
  }
}
.stats-overview .stat-card {
  flex: 1;
  background: #fff;
  padding: 1.7rem;
  border-radius: 10px;
  display: flex;
  line-height: 1.4;
  gap: 10px;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.stats-overview .stat-card:hover {
  transform: translateY(-2px);
  box-shadow: var(--box-shadow);
}
.stats-overview .stat-card__icon {
  background-color: var(--color-light-blue);
  color: var(--color-primary-1);
  padding: 0.75rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
}
.stats-overview .stat-card__text--1 {
  color: #6c757d;
  font-size: 0.95rem;
}
.stats-overview .stat-card__text--2 {
  color: #1c1e21;
  font-size: 1rem;
}

.search-filter {
  display: flex;
  gap: 10px;
}
.search-filter .search-box {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.search-filter .search-box input {
  border: none;
  margin-left: 5px;
  outline: none;
}
.search-filter .filter-button {
  background: #f1f1f1;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
  gap: 1.8rem;
}

@media (max-width: 200px) {
  .stats-overview {
    justify-content: center;
  }
  .stats-overview .stat-card {
    flex: 1 1 100%;
    max-width: 100%;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=dash.css.map */