@mixin card {
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
}

@mixin card-1 {
  background: #fff;
  border-radius: $border-radius;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

@mixin center-item {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin center-item-1 {
  display: flex;
  margin-bottom: 0.3rem;
  gap: 8px;
}

@mixin Onfocus {
  outline: none;
  border-color: var(--color-primary);
}
