:root {
  --color-grey: #777;
  --color-primary: #2563eb;
  --color-primary-1: #0066ff;
  --color-grey-1: #b5aeae;
  --color-grey-2: #d4d1d1;
  --color-grey-3: #efebeb;
  --color-black-1: #3a3838;
  --color-white: #ffff;
  --color-light-gray: #f5f6fa;
  --color-light-gray-1: #ecedf0;
  --color-dark-gray: #4b5563;
  --color-green-light: rgb(32, 206, 32);
  --color-green-1: rgb(31, 139, 31);
  --color-red: red;
  --color-black-light-2: #363232;
  --color-black-light-1: #1c1e21;
  --border-radius: 1.2rem;
  --border-bottom: 1px solid #e5e7eb;
  --margin-bottom-medium: 1.5rem;
  --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  --box-shadow-1: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: "Segoe UI", sans-serif;
}

.login-header {
  text-align: center;
  margin-bottom: 1rem;
}
.login-header .logo {
  width: 60px;
  margin-bottom: 1rem;
}
.login-header .subheading {
  font-size: 0.9rem;
  color: var(--color-grey);
}

.login-form {
  max-width: 400px;
  width: 100%;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
}
.login-form h3 {
  margin-bottom: 0.5rem;
}
.login-form p {
  margin-bottom: 1rem;
}
.login-form__intro {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 0.7;
}
.login-form label {
  font-weight: 600;
  margin-top: 1rem;
}
.login-form .labels {
  color: var(--color-black-1);
  margin-bottom: 0.7rem;
  font-size: 0.9rem;
}
.login-form .inputText {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.login-form .inputText input,
.login-form .inputText select {
  flex: 1;
  border: none;
  outline: none;
  margin-left: 0.5rem;
  font-family: "Segoe UI", sans-serif;
}
.login-form .inputText input::-moz-placeholder {
  color: var(--color-grey-1);
}
.login-form .inputText input::placeholder {
  color: var(--color-grey-1);
}
.login-form .inputText .toggle-password {
  margin-left: auto;
  cursor: pointer;
  color: var(--color-grey);
}
.login-form .inputText__icons {
  color: var(--color-grey-1);
  width: 0.8rem;
  height: 0.8rem;
}
.login-form .form-options {
  display: flex;
  justify-content: space-between;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
.login-form .form-options a:link,
.login-form .form-options a:visited {
  text-decoration: none;
  color: var(--color-primary);
}
.login-form .btn {
  width: 100%;
  padding: 0.75rem;
  background-color: var(--color-primary);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-form__signup {
  text-align: center;
  margin: 1rem 0;
  font-size: 0.8rem;
}
.login-form__signup a:link,
.login-form__signup a:visited {
  text-decoration: none;
  color: var(--color-primary);
}
.login-form .footer-help {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.footer-text {
  font-size: 0.9rem;
  color: var(--color-black-1);
}
.footer-text a:link,
.footer-text a:visited {
  text-decoration: none;
  color: var(--color-primary);
}

.straight-line {
  border-bottom: 1px solid var(--color-grey);
}/*# sourceMappingURL=LoginPage.css.map */